body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #ffffff;
    background-color: #181717;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center; 
}

nav li {
    display: inline;
    margin: 0 1rem;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

#hero {
    background-image: url("hero-image.jpg"); 
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 5rem 0;
}

.hero-content {
    max-width: 800px;
    margin: 0 auto;
}

.cta-button {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 1rem;
}

section {
    padding: 3rem;
}

h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.project {
    border: 1px solid #ffffff;
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 5px;
    overflow: hidden;
}

.project img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 1rem;
}

#contact form {
    max-width: 600px;
    margin: 0 auto;
}

#contact input,
#contact textarea {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

#contact button {
    background-color: #007bff;
    color: #fff;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

#Num {
    color: rgb(4, 253, 253);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 5px;
    margin: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: hsl(0, 100%, 100%);
    padding-right: 100px;
    margin-right: 786px;

}

